<!Doctype html>
<html>
    <head>
        <title>Portfolio</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css">
       
    </head>
    
    <body>
        <h1>Portfolio</h1>
        <h2>Welcome to my portfolio</h2>
        <p>My name is <b>Md Arshad Hussain</b>.This is my portfolio.</p>
        <article>I am a 20 year old student,currently in the 6th semester of my college.I am pursuing Bachelor's degree in Computer Science and Engineering from Parul university.</article>
        <hr>
        <h3>Education</h3>
        <h4>Christ Jyoti School 2008-2020</h4>
        <ul type="square">
            <li>Gold medal in maths olympiad</li>
            <li>School scholar</li> 
        </ul>
        <h4>Kendriya vidyalaya 2020-2022</h4>
        <ul>
            <li>Completed 12th</li>
        </ul>
        <hr>
        <h3>Experience</h3>
        <section><div>Being a 3rd year student ,currently I have least experience of working. But I am currently waiting for a internship to start for which I have received the offer letter.</div></section>
        <hr>
        <h3>Skills</h3>
        <span>Hard Skills<ul>
            <li>Photoshop</li>
            <li>Java</li>
            <li>Video Editor</li>
        </ul></span>
        <span>Soft Skills<ul>
            <li>Time Management</li>
            <li>Teamwork</li>
            <li> Willingness to learn</li>
        </ul></span>
        <label for="username">Enter your email</label>
        <input placeholder="Enter email"data-type="email">
        <script src="script.js"></script>
    </body>
  
    
   
</html>
